<div
  class="container"
  *ngIf="!accepted"
  #containerRef
  (mousemove)="detectMouse($event)"
>
  <!-- 💖 Floating Hearts -->
  <div class="hearts">
    <span *ngFor="let h of heartArray"></span>
  </div>

  <h1>
    You deserve me 💖🌸 <br />
    Congratulations, I like your choice ❤️
  </h1>

  <div class="btn-group">
    <button class="yes" (click)="accept()">Obviously Yes ❤️🔥</button>

    <!-- No button now relative to Yes -->
    <button
      class="no"
      [ngStyle]="{ transform: 'translate(' + noX + 'px,' + noY + 'px)' }"
    >
      No 😒
    </button>
  </div>
</div>

<div class="success" *ngIf="accepted">
  <div class="ring" *ngIf="accepted">💍</div>
  <!-- 🎆 Confetti -->
  <canvas #confettiCanvas></canvas>

  <!-- 💥 Crackers -->
  <div class="burst">
    <span *ngFor="let b of burstArray"></span>
  </div>

  <h1>✨💌 Usne "Haan" Keh Di 💌✨</h1>

  <p>Teri haan ne meri duniya saja di, ek muskaan ne kismat bana di ❤️</p>

  <p>Ab har subah tera naam hoga, aur har shaam tera intezaar 💞</p>
  <p>Happy Valentine’s Day 💌</p>
</div>

<audio #bgMusic src="song/music.mp3" loop></audio>
